php_value enable_post_data_reading Off

Header unset X-Powered-By

Options -Indexes

ErrorDocument 403 /santriasuh/index.php

RewriteEngine on

RewriteCond %{REQUEST_URI} !/favicon.ico$
RewriteCond %{REQUEST_URI} !(/assets|/data/public)
RewriteRule ^((?!index\.php).+)$ index.php [L,QSA]
